*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: "Kumbh Sans", sans-serif;
}

header{
    display: flex;
    flex-direction:column ;

}
.Acomodacao{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 0 5%;
    height: 85px;
}

.logo{
    display: grid;
    margin-right: 15px;
    width: 50px;
}

.left-side-menu{ 
 display: flex;
 gap: 50px;
 
}

nav, ul, li{ 
 display: inline-block;
 margin-right: 35px;
}


nav, ul, li, a{ 
 text-decoration: none;
}

.color{ 
    color: rgb(96, 218, 218);
}

.right-side-menu{ 
 display: flex;
 align-items: center;
 gap: 20px;
}

.icon-avatar img{ 
   width: 40px; 
}

.line{ 
    height: 1px;
    background-color: blue;
    width: 90%;
    align-self: center;
}

.flex1{
    display: flex;
    justify-content: space-between;
}

.heading{
    
    display: grid;
    place-items: center;
}

.room .grid{
    grid-template-columns: repeat(3, 1fr);
}

.room img{
    width: 800px;
    height: 100%;
    display: inline-block; 
    margin-right: 10px; 
    vertical-align: top;
}

.room .box{
    box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}


.content_grid{
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 80vh; 
    margin: 40px;
}


